@charset "UTF-8";
/*
  Theme Name: QSOFT group
  Theme URI: http://teachyourself.vn
  Author: deeds_faci
  Author URI: http://teachyourself.vn
  Description: QSOFT theme was the first version (16-03-2016) . Now ,  It changes to Faci deeds theme (Faci theme & Qsoft theme)  and develop by Luong Ba Hop
  Version: 1.0.2
  License: GNU General Public License v2 or later
  License URI: http://www.gnu.org/licenses/gpl-2.0.html
  Text Domain: deeds
  Tags: luong ba hop , qsoft , wordpress , viet nam , php
*/
body{
    font-family: Arial, sans-serif;
}
img{
  height: auto;
}
#wrapper{
  overflow: hidden;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-weight: bold;
}
.facibox{
  margin-right:10px;
}
.contact-info{
  font-size: 16px;
  font-family: sans-serif;
}
.facibox .widget-title{
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 30px;
  border-bottom: 1px solid #006379;
  line-height: 180%;
}

.facibox div iframe{
  width: 100%;
  height: 280px;

}
.breadcrumb{
  margin-top: 35px;
  color: black;
}
.breadcrumb span:first-child{
  padding-left: 0px;
}
.breadcrumb span{
  padding:0px 6px;
  font-size: 14px;
  font-weight: bold;
} 
[class*="button-"] {
    display: inline-block;
    margin: .5em 0;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    font-weight: 700;
    color: #fff;
    border: none;
    outline: none;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,.05);
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.05);
    background: #006379;
}
.soft-corners {
    border-radius: 5px;
    -webkit-mask-image: -webkit-radial-gradient(circle,white 5px,black 5px);
}
.uppercase {
    text-transform: uppercase;
}
.to-right, .alignright {
    float: right;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
@media(min-width: 1000px){
    .container{
        width: 1000px;
        padding: 0;
    }
}
ul, li{
  list-style: none;
}
ul{
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}
a{
  text-decoration: none;
  transition: 0.4s;
}
a:hover, a:focus{
  color: #006478;
  text-decoration: none;
}
.alignright {
    float: right;
}

.alignleft {
    float: left;
}

.aligncenter, .alignnone {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#header{
  background-color: #006379;
}
#header .site-title{
  display: none;
}
#logo{
  width: 125px;
  float: left;
  padding-top: 10px;
}
/*faq*/

.faq-cat-content {
    margin-top: 25px;
}

.faq-cat-tabs li a {
    padding: 15px 10px 15px 10px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    color: #777777;
}

.nav-tabs li a:focus,
.panel-heading a:focus {
    outline: none;
}

.panel-heading a,
.panel-heading a:hover,
.panel-heading a:focus {
    text-decoration: none;
    color: #777777;
}

.faq-cat-content .panel-heading:hover {
    background-color: #efefef;
}

.active-faq {
    border-left: 5px solid #888888;
}

.panel-faq .panel-heading .panel-title span {
    font-size: 13px;
    font-weight: normal;
}
@media(max-width: 767px){
  #logo{
    margin: 0 auto;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
  }
}
#menu-main{
    background-color: #01596c;
    border-radius: 0;
    margin: 0;
}
#menu-main ul li{
    float: left;
}
#menu-main ul li a {
    font-size: 13px;
    color: #fdf1d0;
    text-transform: uppercase;
    padding: 13px 20px 12px 20px;
    display: block;
    border: 0;
    transition: 0.4s;
}
#menu-main ul li a:hover, #menu-main ul li.current-menu-item > a, #menu-main ul li.current-menu-parent >a{
  color: rgb(243, 206, 115);
}
#menu-main ul li ul.sub-menu{
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 100;
  background-color: #01596c;
  min-width: 250px;
  z-index: 300;
}

#menu-main ul li ul.sub-menu li{
  display: block;
  background-color: #01596c;
  float: none;
  border-bottom: 1px solid rgb(2, 103, 125);
}
#menu-main ul li:hover ul.sub-menu{
  display: block;
}
@media(max-width: 999px){

}
@media(min-width: 1000px){
	.navbar-collapse{
		padding-left: 0;
		padding-right: 0;
	}
	#menu-main .menu > li:first-of-type > a{
  padding-left: 0;
}
}
.img-thumb > img, img.img-thumb{
    border: 1px solid #ddd;
    padding: 2px;
}
.home .img-thumb > img, .home img.img-thumb{
  border: 0;
  padding: 0;

}
 .home img.moban{
 }
#slider{
    clear: both;
    width: 100%;
    position: relative;
}

.title-page{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 600;
    color: #D29703;
    /* font-family: 'Open Sans', sans-serif; */
}
.tong-quan .title-page{
  color: #02596c;
  text-align:center;
  text-transform: uppercase;
  margin-bottom: 6px;
  font-weight: 700;
  font-family: "Open Sans";
}
.tong-quan .description-page {
  font-size: 29px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  font-family: "Open Sans";
}
.des-cat {
  font-size: 14px;
  margin-bottom: 35px;
  font-weight: 400;
  line-height: 1.42;
}
.title-khoi{
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 38px;
}
.title-khoi span {
    border-bottom: 1px solid #006379;
    padding-bottom: 5px;
    display: inline-block;
}
.nd-khoi{
  margin-top: 40px;
  clear: both;
}
.tong-quan{}
.tong-quan .tab-content ul li{
    margin-bottom: 8px;
}
.tong-quan .nav-tabs{
  text-align: center;
}
.tong-quan .nav-tabs > li{
  margin-right: -4px;
  float: none;
  display: inline-block;
  cursor: pointer;
}
.tong-quan .nav-tabs > li > a{
  cursor: pointer !important;
}
@media(min-width: 768px){
  .tong-quan .tab-pane .col-left{
    padding-right: 25px;
  }
  .tong-quan .tab-pane .col-right{
    padding-left: 25px;
  }
}
@media(max-width: 999px){
  .tong-quan .nav-tabs > li{
    margin-bottom: 10px;
  }
}
.tong-quan .tab-content ul li ul li{
    margin-left: 15px;
}
.post-thumb{
    margin-bottom: 20px;
}
.bai-viet .post-thumb{
  margin-bottom: 0;
}
.bai-viet .post-thumb .title-thumb{
  text-transform: uppercase;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 0;
}
.bai-viet {
  margin-top: 80px;
}
@media(max-width: 999px){
  .post-thumb, .bai-viet .post-thumb{
    margin-bottom: 20px !important;
  }
}
.post-thumb .img-thumb{
  width: 100%;
  height: auto;
  /* max-width: 600px; */
}
.post-thumb .title-thumb{
    font-size: 15px;
    /* margin: 0; */
    font-weight: 400;
}
.post-thumb .title-thumb a{
  color: #252525;
  transition: 0.4s;
}
.post-thumb .title-thumb a:hover{
  color: #D29703;
}
body.archive .post-thumb .title-thumb {
  font-size: 16px;
  font-weight: 600;
  margin-top: 0;
}
@media(max-width: 767px){
  body.archive .post-thumb .title-thumb{
    margin-top: 10px;
  }
}
body.archive .post-thumb{
  margin-bottom: 25px;
  padding: 12px;
  background-color: #f5f5f5;
}
@media(max-width: 767px){
  body.archive .post-thumb{
    padding-left: 0;
    padding-right: 0;
  }
}
body.archive .post-thumb .the-excerpt{
  font-size: 14px;
  line-height: 1.5
}
.mo-ban .post-thumb .title-thumb{
  margin: 0;
  padding: 8px 0;
  text-align: center;
  text-transform: uppercase;
  background-color: #006379;
  color: #fff;
  min-height: 50px;
}
.mo-ban .img-thumb{
    border: 0;
}
.banner-main{}
.banner-main .banner-item{
  float: left;
  display: block;
  margin-bottom: 10px;
}
.banner-main .banner-item:first-child{
    padding-right: 3px;
}
@media(max-width: 767px){
  .banner-main .banner-item img{
    width: 100%;
    height: auto;
  }
}
@media(min-width: 768px) and (max-width: 999px){
   .banner-main .banner-item img{
    width: 100%;
    height: 340px;
  }
}
@media(min-width: 1000px){
  .banner-main .banner-item img{
    height: 479px;
  }
}

.ban-giao .row-1, .ban-giao .row-2{
  clear: both;
  overflow: hidden;
  width: 100%;
  display: flex;
  margin-bottom: 3px;
  margin-left: 0;
  margin-right: 0;
}
@media(max-width: 999px){
  .ban-giao .row-1, .ban-giao .row-2{
    display: block;
  }
}
.ban-giao ul li {
margin-bottom: 8px;}
.ban-giao .nd-col{
}
.ban-giao .col-right{
    background-color: #006379;
    color: #fff;
    padding: 30px 35px;
    line-height: 1.6;
}
.ban-giao .row-2 .col-right{
  background: url(images/gia-thap-hon.png);
  background-color: #006379;
  background-repeat: no-repeat;
  background-position: 93% 87%;
}
@media(max-width: 999px){
  .ban-giao .row-2 .col-right{
    padding-bottom: 140px;
  }
}
.ban-giao .col-left{
    padding-right: 3px;
    padding-left: 0;
}
.ban-giao .img-thumb{
    width: 100%;
    height: auto;
}
.chuyen-vien{
    color: #f8eed0;
    padding: 50px 0;
}
.chuyen-vien .name{
    font-size: 42px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 0;
    line-height: 1.3;
    text-align: CENTER;
}
.chuyen-vien .desc {
    font-size: 28px;
    text-transform: uppercase;
text-align: center;
}
.chuyen-vien .col-left{
    padding-right: 20px;
}
.chuyen-vien .col-left img{
  display:block;
  margin: 0 auto;
  position: relative;
  margin-top: 20px;
}
.chuyen-vien .col-right{
    padding-left: 20px;
}
@media(max-width: 767px){
  .chuyen-vien .col-left{
    padding-right: 10px;
  }
  .chuyen-vien .col-right{
    padding-left: 10px;
    clear: both;
    margin-top: 15px;
  }
}
.chuyen-vien ul li{
    margin-bottom: 10px;
}
.quy-trinh{}
.quy-trinh .nav-pills > li > a {
    background-color: transparent;
    cursor: pointer !important;
    margin-right: 0;
    border: 0;
    transition: all 0.4s;
    color: #252525;
    text-align: center;
}
.quy-trinh .nav-pills > li.active > a{
    color: #252525;
}
.quy-trinh .nav-pills > li.active > a, .quy-trinh .nav-pills > li.active > a:hover, .quy-trinh .nav-pills > li.active > a:focus{
    border: 0;
}
.quy-trinh .nav-pills > li.active > a:hover{
    color: #fff;
    background-color: #00637a;
}
.quy-trinh .nav-pills > li:hover .icon:after{
    content: "";
    width: 0;
    height: 0;
}
.quy-trinh .nd-col{
    position: relative;
    margin: 0;
    margin-bottom: 20px;
}
.quy-trinh .content a{
  font-size: 18px;
  text-transform: uppercase;
  color: #252525;
}
.quy-trinh .icon{
    display: block;
    position: relative;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
}
.quy-trinh .nd-col .icon:after{
    content: "";
    position: absolute;
    right: -42px;
    top: 47%;
    width: 19px;
    height: 20px;
    background: url(images/icon-next.png);
    background-repeat: no-repeat;
}
@media(max-width: 767px){
  .quy-trinh .nd-col .icon:after{
    display: none;
  }
}
.quy-trinh .nd-col:last-of-type .icon:after{
  content: "";
  width: 0;
  height: 0;
}
.quy-trinh .title-khoi{
    margin-bottom: 50px;
    margin-top: 0;
}
.quy-trinh .tab-content{
    clear: both;
}
@media(max-width: 767px){
  .quy-trinh .tab-content{
    display: none
  }
}
.quy-trinh .tab-content .tab-pane{
    border: 1px solid #00637a;
    padding: 35px 65px;
}
.quy-trinh .tab-content .tab-pane ul li{
    margin-bottom: 8px;
}
.quy-trinh .nav-tabs {
    margin-bottom: 20px;
}
.ly-do{
    background-color: #006379;
    padding: 85px 0;
}
@media(min-width: 768px){
  .ly-do .nd-col{
      width: 20%;
  }
}
.ly-do .nd-col img{
  display: block;
  margin: 0 auto;
}
.ly-do .nd-col h4 {
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    line-height: 1.25;
    font-family: "Open Sans";
}
.ly-do .title-khoi{
  font-size: 28px;
  color: #fff;
  margin-bottom: 65px;
}
.ly-do .title-khoi span{
  border-bottom: 1px solid #fff;
  display: inline-block;
}
.khoi-end{
    padding: 30px 0 50px 0;
    background-color: #ebebeb;
}
@media(min-width: 768px){
  .khoi-end .huong-dan{
    padding-right: 30px;
  }
  .khoi-end .danh-gia{
    padding-left: 30px
  }
}
.khoi-end .title-khoi{
    text-align: left;
    font-size: 25px;
}
.khoi-end .title-khoi span{
  display: block;
}
.khoi-end .danh-gia .content .item , .facibox .item{
    margin-bottom: 40px;
    font-size: 14px;
    clear: both;
}
.khoi-end .danh-gia .content .item .title , .facibox .item .title {
  font-weight: 600;
  font-size: 15px
}
.khoi-end .danh-gia .content .item .col-left , .facibox .item .col-left{
    padding-right: 20px;
    float: left;
}
.tu-van{
}
.tu-van .nd-col{
  /* border: 1px solid #006379; */
  padding: 0;
  position: relative;
}
.tu-van .col-right{
  padding-left: 0px;
}
.tu-van .col-left{
  margin-right: -20px;
}
.tu-van .full-width{
  width: 100%;
}
.tu-van .nd-col .content{
  padding: 30px;
  border: 1px solid #006379;
}
.tu-van .nd-col .content .title{
  font-weight: 600;
  font-size: 18px;
}
.tu-van .title-khoi{
  background-color: #006379;
  color: #fff;
  margin: 0;
  padding: 10px 0;
  font-size: 18px;
  text-align: left;
  padding-left: 25px;
  line-height: 27px;
  height: 46px;
  width: 100%;
}
.tu-van .hoi-dap{
  margin-bottom: 30px
}
.tu-van .panel-heading{
    background-image: -webkit-linear-gradient(top, #f5f5f5 0, #e8e8e8 100%);
    background-image: -o-linear-gradient(top, #f5f5f5 0, #e8e8e8 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f5f5f5), to(#e8e8e8));
    background-image: linear-gradient(to bottom, #f5f5f5 0, #e8e8e8 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
}
.tu-van .panel-heading .panel-title{
  font-size: 16px;
}
.tu-van .hoi-dap:last-of-type{
  margin-bottom: 0;
}
.tu-van .hoi-dap li{
  margin-bottom: 8px;
}
.tu-van .hoi-dap li:last-of-type{
  margin-bottom: 0;
}
@media(max-width: 767px){
  .tu-van .title-khoi{
    /* margin-right: -10px; */
    /* margin-left: -10px; */
  }
}
form input{
  width: 100%;
  max-width: 500px;
}
form input[type="submit"]{
  width: auto;
}
.tu-van .title-khoi span{
  border-bottom: 0;
}
.tu-van .title-khoi span{
  background: url(images/icon-title-dk.png);
  background-repeat: no-repeat;
  padding-left: 33px;
  background-position: 0 -1px;
  padding-bottom: 0;
  height: 27px;
}
.tu-van .col-left .title-khoi span{
   background: url(images/icon-hoi-dap.png);
  background-repeat: no-repeat;
  padding-left: 33px;
  background-position: 0 3px;
}
.tu-van form{
    padding-right: 35px;
}
.tu-van form input{
    display: block;
    height: 30px;
    border: 1px solid #006379;
    max-width: 100%;
}
.tu-van form p{
  font-size: 13px;
  font-weight: 400;
  margin-top:18px;
}
.tu-van form p:first-of-type{
  margin-top: 0
}
.tu-van form input[type="text"]{
  font-size: 13px;
  width: 100%;
  text-indent: 10px;
}
.tu-van form input[type="submit"]{
  margin-top: 20px;
  background-color: #006379;
  color: #fff;
  border: 0;
  padding: 5px 20px;
  font-size: 110%;
  transition: all 0.4s;
}
.tu-van form input[type="submit"]:hover{
  background-color: #222;
}
body.single-post .tu-van{
  background: url(images/bg-form.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}
.doi-tac{
  margin-top: 15px;
  margin-bottom: 10px;
}
body.single-post .tu-van > .row{
  display: flex;
}
body.single-post .tu-van > .row .bg-person{
  position: absolute;
  bottom: 0;
  left: 90px;
}
body.single-post .tu-van .col-right{
  border: 0;
  padding-left: 0;
}
body.single-post .tu-van .col-right .content{
  border: 0;
}
body.single-post .tu-van .col-left .title-khoi span{
  background: none;
}
body.single-post .tu-van form p{
  color: #fff;
}
body.single-post .tu-van form input{
  background-color: transparent;
  border: 1px solid #f2f2f2;
  color: #fff;
}
body.single-post .tu-van form input[type="submit"]{
  background-color: #fff;
  color: #006379;
  border: 0;
  transition: 0.5s;
}
body.single-post .tu-van form input[type="submit"]:hover{
  background-color: #222;
  color: #fff;
}
#footer{
    background-color: #006379;
    padding: 55px 0;
    color: #fff;
    font-size: 13px;
}
#footer .nd-col {
  margin-bottom: 15px;
}
@media(max-width: 767px){
  #footer .nd-col {
    border-bottom: 1px solid #fff;
  }
}
#footer h4 ,#footer .widget-title{
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 0px;
}

#footer a{
    color: #fff;
}
#footer ul li{
    margin-bottom: 10px;
}
#footer .logo-partner{
    margin-right: 20px;
    margin-bottom: 25px;
    display: inline-block;
    width: 40%;
}
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* padding-top: 35px; */
    height: 0;
    overflow: hidden;
}
.videoWrapper iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media(min-width: 1000px){
  #content{
    padding-left: 20px;
    width: 74%;
  }
  #sidebar{
    padding-right: 15px;
    width: 26%;
  }
}
.post-entry{}
.post-entry .title-page{
  margin-bottom: 20px;
  color: #D29703;
}
.post-entry .post-content{}
.post-related{
     margin-top: 40px;
    clear: both;
}
.post-related .title{
  font-size: 22px;
  color: #636363;
  margin-bottom: 30px;
  font-weight: 600;
}
.post-related .title-thumb{
    font-size: 14px;
    margin-top: 10px;
    line-height: 1.3;
}
.post-related .title-thumb a{
    color: #252525;
    transition: 0.4s;
}
.post-related .post-thumb:hover .title-thumb a{
  color: #D29703;
}
.post-related .img-thumb{
    float: left;
    margin-right: 15px;
}

.post-related img.img-thumb, #sidebar .img-thumb img{
    border-radius: 50%;
    width: 90px;
    height: 90px;
   
}
.post-related img.img-thumb{
   width: 90px;
    height: 90px;
}
#sidebar{}
#sidebar .sidebar-item{
  clear: both;
  margin-bottom: 25px;
}
#sidebar .title-widget{
  background-color: #006379;
  color: #fdf1d0;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 400;
  padding: 10px 10px;
  margin: 0;
  font-family: 'Open Sans', sans-serif;*/;
}
#sidebar a {
  color: #464646;
}
#sidebar a:hover{
  color: #D29703;
}
#sidebar .menu-sidebar li{
  border: 0;
  /* padding: 15px 0; */
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
  position: relative;
  margin-top: 0px;
}
#sidebar .menu-sidebar li a{
	padding: 11px 0;
	display: block;
	 border-bottom: 1px solid #e4e4e4;
}
#sidebar .menu-sidebar li a:hover, #sidebar .menu-sidebar li.current-menu-item > a, #sidebar .menu-sidebar li.current-menu-parent > a{
  color: #D29703;
}
#sidebar .menu-sidebar .dropdown-toggle{
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 40px;
	cursor: pointer;
	padding: 11px 0;
	text-align: center;
}
#sidebar .menu-sidebar .sub-menu{
	display: none;
	padding-left: 18px;
	background-color: #f5f5f5;
}
/*#sidebar .menu-sidebar .sub-menu.close {
	display: none!important;
}*/
#sidebar .menu-sidebar .sub-menu li > a{
  border-bottom: 1px dotted #999;
  padding-top: 10px;
  padding-bottom: 10px;
}
#sidebar .menu-sidebar li.current-menu-item .sub-menu, #sidebar .menu-sidebar li.current-menu-parent .sub-menu{
	display: block;
}
#sidebar li {
  float: left;
  width: 100%;
  clear: both;
  margin-top: 30px;
}

#sidebar li .img-thumb{
  float: left;
  margin-right: 15px;
}
#sidebar li .title-thumb {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42;
  margin: 0;
}
.wp-pagenavi{
  float: right;
}
.wp-pagenavi a, .wp-pagenavi span{
  padding: 3px 8px !important;
}
.scrollToTop{
  text-align:center;
  font-weight: bold;
  color: #444;
  text-decoration: none;
  position:fixed;
  bottom: 180px;
  right: 35px;
  display:none;
  cursor: pointer;
  opacity: 0.6;
}
.scrollToTop:hover{
  text-decoration:none;
}
@media(max-width: 767px) {
  .nav-tabs > li > a{
    margin-right: 0;
  }
  .tong-quan .nav-tabs > li{
    /* clear: both; */
    /* display: block; */
    /* border-bottom: 1px solid #fff; */
    /* float: none; */
    float: left;
    margin-right: 10px;
  }
}
@media(max-width: 767px){
  .container{
    padding-left: 10px;
    padding-right: 10px;
  }
  #slidehelper{
    display: none;
  }
}
@media(max-width: 999px){
  #menu-main ul li{
    display:block;
    clear:both;
    float: none;
    border-bottom: 1px solid rgb(6, 135, 162);
  }
}
.panel-grid-cell{
  padding: 0px 8px !important;
}
.kun-social{
  margin-bottom:0px !important;
  height: 35px;
  padding-top: 10px;
}
.kun-social .button{
  float:left;
  margin:0px 10px 10px 0px;
}
